<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf快速入门-Hello Thymeleaf</title>
</head>
<style>
    table td,table th{border: 1px solid red;}

</style>

<body>
<table style="border: 1px solid red;">
    <thead>
    <tr>
        <th>用户id</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u:${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.userName}"></td>
        <td th:text="${u.sex}"></td>
        <td th:text="${u.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>